footer {
  height: 88px;
  background-color: $header_color;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;
  color: $white_color;
  padding-inline: 16px;

  .footer-left {
    justify-self: start;
    @include flex();
    gap: .8rem;

    .img-wrapper {
      width: 55px;
      height: 55px;
      position: relative;

      &:hover {
        .icon {
          display: block;
        }
      }

      .icon {
        display: none;
      }

      i {
        position: absolute;
        content: "";
        top: 5px;
        right: 5px;
        font-size: 1.1rem;
        @include flex();
        width: 1.5rem;
        height: 1.5rem;
        padding-top: 2px;
        border-radius: 50%;
        cursor: pointer;
        color: $search-text_color;
        background-color: rgba($nav-hover_color, 0.7);
        transition: transform 50ms ease;
        @include datatitle(2.4rem);

        &:hover {
          color: $white_color;
          transform: scale(1.08);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .text-wrapper {
      @include flex(flex-end, start, column);

      .song-title {
        font-size: 0.85rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .song-artist {
        font-size: 0.7rem;
        color: $search-text_color;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: $white_color;
        }
      }
    }

    .fa-circle-plus {
      color: $search-text_color;
      cursor: pointer;
      @include datatitle(2rem);

      &:hover {
        color: $white_color;
      }
    }
  }

    .footer-middle {
      @include flex(space-between, center, column);
      padding-bottom: 5px;
      width: 100%;
      height: 100%;
    
      .icons {
        @include flex();
        gap: 26px;

        .fa-backward-step,
        .fa-forward-step {
          transform: scaleX(1.25);

          &:hover {
            transform: scale(1.25, 1.08);
          }
        }

        .fa-arrows-repeat,
        .fa-shuffle {
          position: relative;
        }

        .shuffle-dot,
        .repeat-dot {
          position: absolute;
          content: "";
          width: 4px;
          height: 4px;
          background-color: $spotify_color;
          border-radius: 50%;
          top: calc(100% + 4px);
          left: 50%;
          transform: translateX(-50%);
          display: none;
        }

        i {
          cursor: pointer;
          color: $search-text_color;
          font-size: 1.1rem;

          &:hover {
            color: $white_color;
            transform: scale(1.02);
            @include datatitle(2rem);
          }
        }

        .fa-circle-play,
        .fa-circle-pause {
          font-size: 2rem;
          color: $white_color;

          &:hover {
            @include datatitle(2.5rem);
          }
        }
      }
  
    .progress-container {
      @include flex();
      width: 100%;
      position: relative;
  
      .remaining-time,
      .elapsed-time {
        position: absolute;
        font-size: 0.8rem;
        color: $search-text_color;
        pointer-events: none;
      }
  
      .remaining-time {
        left: calc(100% + 8px);
      }
      
      .elapsed-time {
        right: calc(100% + 8px);
      }
  
      progress {
        width: 100%;
        height: 4px;
        border-radius: 10px;
        overflow: hidden;
        appearance: none;
  
        &::-webkit-progress-bar {
          background-color: $progress_color;
        }
  
        &::-webkit-progress-value {
          background-color: $white_color;
          border-radius: 10px;
        }
  
        &::-moz-progress-bar {
          background-color: $white_color;
          border-radius: 10px;
        }
      }
  
      .progress-dot {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: $white_color;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        cursor: pointer;
      }
  
      &:hover .progress-dot {
        display: block;
      }
  
      &:hover progress::-webkit-progress-value {
        background-color: $spotify_color;
      }
  
      &:hover progress::-moz-progress-bar {
        background-color: $spotify_color;
      }
    }
  }

  .footer-right {
    justify-self: end;
    @include flex();
    gap: .8rem;

    .fa-arrows-minimize {
      &:hover {
        @include datatitle(2rem, -.5rem);
      }
    }

    .fa-square-caret-right {
      font-size: 1.3rem;
    }

    .fa-volume-xmark,
    .fa-volume-low,
    .fa-volume-high {
      width: 1rem;
    }

    i {
      cursor: pointer;
      fill: $search-text_color;
      color: $search-text_color;

      &:last-child {
        &:hover {
          @include datatitle(2rem, -1rem);
        }
      }

      &:hover {
        fill: $white_color;
        color: $white_color;
        @include datatitle(2rem);
      }
    }

    .volume-container {
      @include flex();
      width: 100%;
      gap: .8rem;
      position: relative;
  
      progress {
        width: 90px;
        height: 4px;
        border-radius: 10px;
        overflow: hidden;
        appearance: none;
  
        &::-webkit-progress-bar {
          background-color: $progress_color;
        }
  
        &::-webkit-progress-value {
          background-color: $white_color;
          border-radius: 10px;
        }
  
        &::-moz-progress-bar {
          background-color: $white_color;
          border-radius: 10px;
        }
      }
  
      .progress-dot {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: $white_color;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        cursor: pointer;
      }
  
      &:hover .progress-dot {
        display: block;
      }
  
      &:hover progress::-webkit-progress-value {
        background-color: $spotify_color;
      }
  
      &:hover progress::-moz-progress-bar {
        background-color: $spotify_color;
      }
    }
  }
}