.right-side {
  @include flex(flex-start, start, column);
  background-color: $side_color;
  width: 420px;
  border-radius: 8px;
  padding: 1rem 0 1rem 1rem;
  position: relative;
  height: calc(100% - 65px);

  
  .right-resize-handle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 2px);
    width: 4px;
    height: 98%;
    cursor: grab;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $header_color;
    
    &:hover {
      box-shadow: inset 0 0 0 1.3px $header_color;
      background-color: $search-text_color;
    }
  }
  
  .right-top-navigation {
    @include flex(space-between);
    width: 100%;
    padding-bottom: 15px;
    padding-right: 1rem;
    
    p {
      font-size: 1rem;
        color: $white_color;
        font-weight: 600;
        cursor: pointer;
        
        &:hover {
          text-decoration: underline;
        }
      }
      
      .top-icons {
        @include flex();
        gap: .5rem;
        color: $search-text_color;
        
        i {
          @include flex();
          width: 2rem;
          height: 2rem;
          padding-top: 2px;
          border-radius: 50%;
          cursor: pointer;
          font-size: 1rem;
          
          @include datatitle(2.5rem);
          
          &:hover {
            color: $white_color;
            background-color: $nav-hover_color;
            
            &.fa-ellipsis {
              background-color: transparent;
            }
          }
        }
      }
    }

  .scroll-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 22px;
    
    &:hover {
      overflow-y: auto;
      padding-right: 10px;

      &::-webkit-scrollbar {
        width: 12px;
      }
  
      &::-webkit-scrollbar-track {
        background: $side_color;
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: darken($search-text_color, 30%);
      }
  
      &::-webkit-scrollbar-thumb:hover {
        background-color: darken($search-text_color, 15%);
      }
    }

    .big-album-cover-img {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 8px;
      cursor: pointer;
    }

    .video-btn {
      display: none;
      // @include flex();
      gap: 10px;
      color: $white_color;
      font-size: 0.8rem;
      border-radius: 50px;
      background-color: $nav-hover_color;
      transition: transform 50ms ease;
      padding: 9px 14px;
      margin-top: 17px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }

      i {
        font-size: 1.1rem;
        font-weight: 200;
      }
    }

    .song-info {
      width: 100%;
      @include flex(space-between);
      margin-top: 15px;

      .icon-wrapper {
        @include flex();
        gap: 15px;

        .fa-arrow-up-right-from-square {
          display: none;
        }
      }

      .fa-circle-plus,
      .fa-arrow-up-right-from-square {
        font-size: 1.3rem;
        color: $white_color;
        cursor: pointer;

        &:hover {
          transform: scale(1.02);
        }
      }

      .fa-arrow-up-right-from-square {
        color: $search-text_color;

        &:hover {
          color: $white_color;
        }
      }

      .song-text {
        @include flex(space-between, start, column);
        color: $white_color;

        .song-title {
          font-weight: 600;
          font-size: 1.4rem;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .song-artists {
          font-size: 0.9rem;
          color: $search-text_color;
          
          span {
            cursor: pointer;

            &:hover {
              color: $white_color;
              text-decoration: underline;
            }
          }
        }
      }

      &:hover {
        .fa-arrow-up-right-from-square {
          display: block;
        }
      }
    }

    .about-artist {
      @include flex(center, center, column);
      width: 100%;
      background-color: $nav_color;
      border-radius: 8px;
      padding-bottom: 1rem;
      margin-top: 25px;
      position: relative;
      cursor: pointer;

      .about-img {
        width: 100%;
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 15px;
      }

      .artist-about-title {
        color: $white_color;
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: 2;
      }

      .artist-info {
        @include flex(space-between);
        width: calc(100% - 2rem);
        padding-bottom: 10px;
        position: relative;

        .name-wrapper {
          @include flex(center, flex-start, column);
          gap: .5rem;

          .artist-name {
            font-size: 1rem;
            color: $white_color;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }

          .listeners {
            font-size: 0.9rem;
            color: $search-text_color;
          }
        }

        .follow-btn {
          align-self: flex-end;
          background-color: $side_color;
          color: $white_color;
          font-size: 0.9rem;
          border: 1px solid $search-text_color;
          padding: 5px 15px;
          border-radius: 50px;
          font-weight: 600;

          &:hover {
            transform: scale(1.05);
            border-color: $white_color;
          }
        }
      }

      .artist-information {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $search-text_color;
        width: calc(100% - 2rem);
        font-size: 0.9rem;
      }
    }

    .credits {
      width: 100%;
      padding: 1rem;
      background-color: $nav_color;
      margin-top: 1rem;
      border-radius: 8px;

      .top-wrapper {
        @include flex(space-between);

        .credits-title {
          font-size: 1rem;
          color: $white_color;
          font-weight: 600;
        }

        .show-all-btn {
          font-size: 0.9rem;
          color: $search-text_color;
          cursor: pointer;
          font-weight: 600;

          &:hover {
            color: $white_color;
            transform: scale(1.03);
            text-decoration: underline;
          }
        }
      }

      .artist-wrapper {
        @include flex(space-between, center);
        margin-top: 15px;

        .name-wrapper {
          @include flex(center, flex-start, column, .2rem);

          .artist-name {
            font-size: 0.95rem;
            color: $white_color;

            &:hover {
              text-decoration: underline;
            }
          }

          .artist-type {
            font-size: 0.85rem;
            color: $search-text_color;
          }
        }

        .follow-btn {
          background-color: $side_color;
          color: $white_color;
          font-size: 0.9rem;
          border: 1px solid $search-text_color;
          padding: 5px 15px;
          border-radius: 50px;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            transform: scale(1.05);
            border-color: $white_color;
          }
        }
      }
    }

    .tour {
      width: 100%;
      padding: .4rem;
      background-color: $nav_color;
      margin-top: 1rem;
      border-radius: 8px;

      .top-wrapper {
        @include flex(space-between);
        padding: .6rem;
        padding-bottom: 10px;

        .tour-title {
          font-size: 1rem;
          color: $white_color;
          font-weight: 600;
        }

        .show-all-btn {
          font-size: 0.9rem;
          color: $search-text_color;
          cursor: pointer;
          font-weight: 600;

          &:hover {
            color: $white_color;
            transform: scale(1.03);
            text-decoration: underline;
          }
        }
      }

      .event {
        @include flex(flex-start);
        gap: 1rem;
        padding: .7rem .5rem;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $nav-hover_color;
          
          .month,
          .day,
          .city,
          .artist-name,
          .time-location {
            text-decoration: underline;
            text-decoration-color: $white_color;
          }
        }

        .image-look {
          min-width: 60px;
          min-height: 60px;
          border-radius: 4px;
          background-color: black;
          position: relative;
          color: $white_color;

          .month {
            position: absolute;
            top: 8px;
            left: 50%;
            font-weight: 600;
            font-size: 0.75rem;
            transform: translateX(-50%);
          }

          .day {
            position: absolute;
            top: 22px;
            font-size: 1.5rem;
            font-weight: 700;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .text-wrapper {
          width: 100%;

          .city,
          .artist-name,
          .time-location {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .city {
            font-size: 0.95rem;
            color: $white_color;
          }

          .artist-name,
          .time-location {
            font-size: 0.80rem;
            color: $search-text_color;
          }
        }
      }
    }
  }
}