$header_color: black;
$nav_color: #1f1f1f;
$nav-hover_color: #2a2a2a;
$search-text_color: #b3b3b3;
$white_color: white;
$header-profile_color: #b49bc8;
$side_color: #121212;
$progress_color: #4d4d4d;
$spotify_color: #1db954;

$header_padding: 28px;
$search_padding: 13px;